.columns.contact {
  margin-top: $size-4;
  @include from($desktop) {
    margin-top: $size-1;
  }
  .contact-form {
    form {
      input,
      textarea {
        background-color: $black;
        color: $lavender;
        border-color: $lavender;
        &::placeholder {
          color: $lavender;
        }
        &:active,
        &:hover {
          border-color: $violet;
        }
      }
    }
  }
}
